@using MvcStokv1.Models.Entity
@model PagedList.IPagedList<TBLKATEGORILER>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                <td>@ktgr.KATEGORIID</td>
                <td>@ktgr.KATEGORIAD</td>
                <td><a href="/Kategori/Sil/@ktgr.KATEGORIID"class="btn btn-danger" >SİL</a></td>
                <td><a href="/Kategori/KategoriGetir/@ktgr.KATEGORIID"class="btn btn-success" >Güncelle</a></td>
                
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/kategori/yenikategori" class="btn btn-primary"> Yeni Kategori Ekle</a>
